
/* Font
–––––––––––––––––––––––––––––––––––––––––––––––––– */

$arialFont : 'arial';

// set on html, body, button
$min_font: 16px;
$max_font: 20px;


/* Colors
–––––––––––––––––––––––––––––––––––––––––––––––––– */

$offWhite: #fdfdfd;
$offBlack: #0d0d0d;


/* Responsive 
–––––––––––––––––––––––––––––––––––––––––––––––––– */

$small: 480px;
$large: 1280px;
